{% extends "base.html" %}

{% load thumbnail ratings_extras %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>{{ category.title }}</h2>
        </div>
        {% for film in films %}
            <div class="span4 film-container">
                <img src="{{ film.thumb|thumbnail_url:'stills' }}" alt="{{ film.title }}" class="img-rounded stills" />
                <h4>{{ film.title }}</h4>
                <dl class="dl-horizontal">
                    <dt>Director</dt>
                    <dd>{{ film.director }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Year</dt>
                    <dd>{{ film.year }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Country</dt>
                    <dd>{{ film.country }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Runtime</dt>
                    <dd>{{ film.runtime }}</dd>
                </dl>

                <div id="rating">

                </div>
                {% comment %}
                {% if request.session.email %}
                    {% show_rating film %}
                {% endif %}
                {% endcomment %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
